/* CSS Document */
/*body Begin*/

	body{ margin:0px; background: -webkit-linear-gradient(top,#2e80bc,#fff) no-repeat;background: -o-linear-gradient(top,#2e80bc,#fff) no-repeat;background: -moz-linear-gradient(top,#2e80bc,#fff) no-repeat;background: -ms-linear-gradient(top,#2e80bc,#fff) no-repeat; overflow:visible;}

/*body End*/

	.bodyDiv{ border:1px solid #096; width: 500px; margin:auto; height:330px; position:relative; margin-top:150px;; border-radius: 5px; background:#ddd;}
	.topDiv{ height:36%; background: #2e80bc; margin:1px; border:1px solid #2e80bc;  border-radius: 5px 5px 0 0; }
	.loginImg{ height:28px; width:28px;  border-radius:20px; }
	.logoDiv{height:40px;width:40%;position:relative;top: 15%;font-family:楷体;text-align:center;font-size:1.5em;color:#FFF;font-weight:600;}

	.userNameDiv{height:30px; margin:auto; margin-top:20px; width:40%;}
	.userName{ width:130px; float:right; height: 26px;}
	.passwdDiv{height:30px; margin:auto; width:40%;}
	.passwd{ width:130px; float:right;}
	.verficationCode{margin: auto; height:30px; width:40%;text-align: center; line-height: 30px; padding-top: 5px;}
	.verficationCode img{cursor: pointer;}
	.button{width:240px; margin:auto; margin-top:10px;}
	.button input[type='button']{ margin-left:10px; width:100px;margin-right:10px;}

