<!DOCTYPE html>
<html>
<head>
  <title>About 页面</title>
  <script type="text/javascript" src="../static/js/get/jquery.js"></script>
  <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css" />
  <script type="text/javascript">
           window.history.forward();
  </script>
</head>
<body>
   <div class="">
      <div class="text-center">
      <h3>互联网终端保密监管平台简介</h3>
      <section class="text-left" style="margin: 50px 100px 10px 50px;font-size: 1.2em">
      <p style="line-height:30px">&ensp;&ensp;&ensp;&ensp;中华人民共和国中央人民政府互联网终端保密监管平台是由国务院办公厅主办，中国政府网运行中心负责运行维护的保密监管平台，能够有效预防网络窃密泄密的问题，做好保密工作。</p>
        <p style="line-height:30px">&ensp;&ensp;&ensp;&ensp;平台功能符合等级保护的国家相关标准技术规范,进行数据的统一管理和加密，对用户的违规操作进行实时监控和记录，时刻以维护国家信息安全为己任进行运作，提升了安全保密工作的管理水平，减少了失泄密隐患，保护了国家秘密安全。平台功能可以灵活扩展，满足用户信息安全保密建设多样化需求。</p>
        <p style="line-height:30px">&ensp;&ensp;&ensp;&ensp;中华人民共和国中央人民政府互联网终端保密监管平台于2017年1月1日试开通，欢迎广大公众对本网站建设积极献计献策，提出宝贵意见和建议。</p>
      </section>
   </div>
  </div>
  <footer  style="background-color: rgb(0, 153, 255);height: 40px;margin-top: 300px;">
  <div class="footer-bottom row">
        <div class="row" style="color: white;margin-top: 15px;margin-left: 5px">
   
                <div class="col-md-3">版权所有：互联网终端保密平台</div>
                <div class="col-md-3">地址：陕西省西安市金花南路5号</div>
                <div class="col-md-3">邮编：710048</div>
                <div class="col-md-3">陕ICP备05001616号</div>

               <!-- <li class="li00">|</li>

                <div><li><a href="#" class="col-md-3"></li></div>地址：陕西省西安市金花南路5号</li></a>

                <li class="li00">|</li>

                <li class="col-md-3">邮编：710048</li>

                <li class="li00">|</li>

                <li class="col-md-3">陕ICP备05001616号</li>

          -->
    </div>
    </div>
  </footer>
 
</body>
</html>