<div class="bodyRightTitle">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <div style="width:150px; height:44px; margin:10px; display:inline-block;">
            <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
            <span style="margin-left:20px; font-weight:600; font-size:1.3em;">部门管理</span>
        </div>
    </div>
</div>
<div class="bodyRightBody">
    <div class="data" style="min-height: 300px; margin-top:15px; height:auto;">
        <div class="main_title">
            <span class="span" onclick="increase_department()">添加部门</span>
            <span class="span" onclick="delete_department()">删除部门</span>
            <span class="span" onclick="input_department()" style="background:#0c7cb7;color:#fff;border:1px solid #c2c2c2;height:31px;border-radius:3px;width:50px">提交</span>
            总计：<label id="depCount"></label>
            <div class="btn-group" style="float: right;" data-toggle="buttons">
                <label class="btn btn-primary" id="before" onclick="department_before()">
                    <input type="radio" name="options">
                    <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
                </label>
                <label class="btn btn-primary" id="after" onclick="department_after()">
                    <input type="radio" name="options">
                    <img src="../static/images/leftPoint.png">
                </label>
            </div>
            <span style="float: right;cursor:pointer;" onclick="depspanSelectClick(this)">
                <span id="page">1</span>/<span id="pageCount">1</span><img src="../static/images/downPoing.png">
            </span>
        </div>
        <table class="table table-hover" style="margin-top:12px;">
            <thead><tr><th width="15%"><input type="checkBox" style="margin-right:10px;" id="selectAll" onclick="selectAll()">一级部门</th><th width="15%">二级部门</th><th width="15%">三级部门</th><th width="20%">创建时间</th><th width="30%">创建人</th><!--<th style="width:100px;">操作</th>--></tr></thead>
            <tbody id="department_data"></tbody>
        </table>
    </div>
    <div style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
        <span class="span" onclick="increase_department()">添加部门</span>
        <span class="span" onclick="delete_department()">删除部门</span>
        <span class="span" onclick="input_department()" style="background:#0c7cb7;color:#fff;border:1px solid #c2c2c2;height:31px;border-radius:3px;width:50px">提交</span>
        <div class="btn-group" data-toggle="buttons" style="float: right;">
            <label class="btn btn-primary" id="before" onclick="department_before()">
                <input type="radio" name="options">
                <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
            </label>
            <label class="btn btn-primary" id="after" onclick="department_after()">
                <input type="radio" name="options">
                <img src="../static/images/leftPoint.png">
            </label>
        </div>
		<span style="float: right;cursor:pointer;" onclick="depspanSelectClick(this)">
                <span id="pageBelow">1</span>/<span id="pageCountBelow">1</span><img src="../static/images/downPoing.png">
            </span>
    </div>
</div>