<div style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
        <span style="margin-left:2px; font-weight:600; font-size:1.2em;">报警详细信息</span>
    </div>
	<label id="statusLabel" style="display:none">(涉密)</label>
    </div>
    <!--<div style="width:370px;margin-left:50px;border:1px solid #FFF;display:inline-block;">
        年：<input type="text" id="year" style="width:60px;" />
        月：<input type="text" id="month" style="width:60px;">
        日：<input type="text" id="day" style="width:60px;">
        <button type="button" onclick="btnDateClick()" style="display:inline-block; margin-left:20px; height:27px; line-height:10px;" class="btn btn-default">确定</button>
    </div>-->
	
    <!--<div class="col-lg-6" style="width:155px;float:right;margin-top:12px;">
        <div class="input-group" style="float:right;">
            <input id="select_data" type="text" class="form-control" style="width: 120px;">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="btnSelectClick()" type="button" value="0" id="personSearch">责任人查询</button>
            </span>
        </div>
    </div>-->
<div class="data" style="min-height: 300px; margin-top: 20px;">
        <div class="btn-group" data-toggle="buttons" style="float:right;">
            <label class="btn btn-primary" onclick="before_errormore_page()" id="before"><input type="radio" name="options"/>
                <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
            </label>
            <label class="btn btn-primary" onclick="after_errormore_page()" id="after">
                <input type="radio" name="options" /> <img src="../static/images/leftPoint.png" />
            </label>
        </div>
        <span id="spanSelect" onclick="userspanErrorMoreClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;"><span id="page">1</span>/<span id="pageCount">1</span><img src="../static/images/downPoing.png"></span>
        <div style="float:left;">&nbsp;&nbsp;总计：<label id="errorTotal">0</label></div>
    <table class="table table-hover" style="width: 100%;table-layout:fixed">
        <thead><tr><th width="8%">二级部门</th><th width="8%">三级部门</th><th width="7%">责任人</th><th width="11%">报警文件名</th><th width="12%">mac地址</th><th width="11%">ip地址</th><th width="11%">报警时间</th><th width="9%">详细信息</th><th width="11%">下载</th></tr></thead>
        <tbody id="errDate"></tbody>
    </table>
    </div>
<div style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
<div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="before" onclick="before_errormore_page()"><input type="radio" name="options"/>
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
        </label>
        <label class="btn btn-primary" id="after" onclick="after_errormore_page()">
            <input type="radio" name="options" /> <img src="../static/images/leftPoint.png" />
        </label>
    </div>
    <span id="spanSelect" onclick="userspanErrorMoreClick(this)" style="float: right; padding: 5px 10px;"><span id="pageBelow">1</span>/<span id="pageCountBelow">1</span><img src="../static/images/downPoing.png"></span>
 <input type="button" onclick="userErrorCount()" style="font-size: 1.1em" value="返回统计页面" class="btn btn-link btn-bg pull-right" />
</div>