<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>主页</title>
    <script type="text/javascript" src="/static/js/get/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/get/ajaxfileupload1.js"></script>
    <script type="text/javascript" src="/static/js/get/oprate.js"></script>
    <script type="text/javascript" src="/static/js/get/jqueryAjax.js"></script>
    <script type="text/javascript" src="/static/js/show/alert_method.js"></script>
    <script type="text/javascript" src="/static/js/show/indexScanSelf.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link  rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <script type="text/javascript">
         window.history.forward(); 
    </script>
    <script type="text/javascript">
    </script>
	<script src="/static/js/show/modernizr-2.8.2.js"></script>
	<link rel="stylesheet" href="/static/css/load.css">
</head>

<body>

<div  id="LoadingBar" style="display:none">
	<div class="load-container load">
		<div class="loader"></div>
	</div>
	<div id="load" class="source hidden"></div>
</div>

    <div class="bodyTitle">
        <!--<span id="quit" onclick="quit()" style="width:60px; margin-right:25px; text-align:center; color:#efefef; background:#339dd5; float:right; cursor:pointer; height:25px; line-height:25px; margin-top:8px;">注销</span>-->
    </div>
    <div class="titleBody">
        <div class="title">
            <div style="width:400px; padding:45px 50px; text-align:center;">
            <span style="font-weight:800;font-size:1.8em;">互联网终端保密监管平台<br> 
            <span style="font-weight:400;font-size:0.35em; font-family:楷体;">HULIANWANG ZHONGDUAN BAOMI JIANGUAN PINGTAI
            </span></span>
		<label id="scanTime" style="display:none"></label></div>
        <span style="float: right; position: relative;top:-12px;padding-bottom: 0px; cursor: pointer; margin-right: 80px; ">
                <span id="department"></span>
            </span>
        <span style="float: right;position: relative;top:-12px; padding-bottom: 0px; margin-right: 15px; cursor: pointer;">
                <span id="city"></span>
            </span>
            <span style="float: right; position: relative;top:-12px; padding-bottom: 0px; cursor: pointer; margin-right: 15px; ">
                <span id="province" ></span>
            </span>
            </div>
        <div class="index" >
            <!--<div onclick="" style="background-color: rgb(1, 38, 58);">首页</div>-->
            <div onclick="get_querySelf()" >个人自查</div>
            <div onclick="get_user_query()" >报警记录</div>
            <div onclick="get_passwdChange()" >密码修改</div>
            <div id="about" onclick="aboutClick()">关于平台</div>
            <span style="float: right; margin-right: -155px;font-family:楷体; color:#fefefe;"><span id="userDepart"></span>&nbsp;：<span id="userName"></span></span>
            <span id="quit" onclick="quit()" style="width:60px; text-align:center; color:#efefef; background:#339dd5; float:right; margin-right: -220px; cursor:pointer; height:25px; line-height:25px; margin-top:0.75%;">注销</span>
    </div>
        </div>
        <div id="showData" class="alert alert-danger"></div>
</div>
<div class="body" id="body">
</div>
<div class="bottom"></div>
</body>
</html>
