<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="/static/js/get/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/get/jqueryAjax.js"></script>
    <script type="text/javascript" src="/static/js/get/oprate.js"></script>
    <script type="text/javascript" src="/static/js/show/alert_method.js"></script>
    <script type="text/javascript" src="/static/js/show/login.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-dialog.min.css" />
    <link href="/static/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
         window.history.forward();
    </script>
</head>

<body>
<div class="bodyDiv">
  <div class="topDiv">
    <div class="logoDiv"> <img class="loginImg" src="../static/images/login.png" width="71" height="70" />
        <span style="position:relative; top:-10px;">管理员登录</span><br>
        <span style="font-size:0.7em; position:relative; left:20px; top:-15px;">MANAGER LOGIN</span>
    </div>
    <div style="width:60%; text-align:center; float:right; margin-top:22px; color:#eee; font-family:楷体;">
    	<span style="font-size:1.3em;">互联网终端保密监管平台</span><br>
        <span style="font-size:0.6em;">HULIANWANG ZHONGDUAN BAOMI JIANGUAN PINGTAI</span>
    </div>
  </div>
	  <div class="userNameDiv">&nbsp;用户名：<input name="userName" id="userName" class="userName" /></div>
	  <div class="passwdDiv">&nbsp;密&nbsp;&nbsp;&nbsp;码：<input name="passwd" id="passwd" class="passwd" type="password" /></div>
      <div class="verficationCode" ><img src="" width="100px" height="20px" id="verficationCode" onclick="get_verification_code()" style="position: relative;right: -20px"/></div>
      <div class="passwdDiv">验证码：<input code="" name="verficationCodeData" id="verficationCodeData" class="userName" /></div>
	  <div class="button"><input id="input" type="button" value="管理员登录" /><input id="input" onclick="inp_reset()" type="button" value="重置" /></div>
<div id="loginFrameLogofood_hk" style="float: left;position: relative; width: 100%;margin-top: 60px">
             
                <div id="loginFrameLogofood_hk_2" style="line-height: 25px; margin-top: 5px; font-size: 12px; font-family: 微软雅黑; color: rgba(0, 0, 0, 0.541176); margin-left: 25%;">
                <span>
                <p><span style="font-size:18px;">客户端下载&nbsp;<span class=" glyphicon glyphicon-hand-right" style="color: rgb(212, 106, 64);" aria-hidden="true"></span>：</span><a href="/index/download_client?file_name=安全监管客户端.msi" target="_blank"><span style="font-size:18px;">安全监管客户端</span></a></p>
                <p><span style="font-size:18px;">自扫描登陆&nbsp;<span class=" glyphicon glyphicon-hand-right" style="color: rgb(212, 106, 64);" aria-hidden="true"></span>：</span><a href="/loginScanSelf" target="_blank"><span style="font-size:18px;">用户自查管理平台</span></a></p>
                </span></div>
            </div>
            </div>
</body>
</html>
