<!DOCTYPE html>
<html>
<head>
	<title>404页面</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/static/js/get/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
	<div style="margin-top: 115px;margin-left: 350px">
  <p><span style="color: red;margin-right: 2px"><b style="font-size: 2.8em">404.</b>这是一个错误页面！</span>
  <img src="../static/images/404bg.png"  style="border-radius:10px;" />
  </p><p style="font-size: 1.2em">您所请求的资源可能不存在，我们在服务器里未能找到！
  <span class=" glyphicon glyphicon-hand-right" style="color:blue;"></span>
  <a style="font-size: 0.95em" href="/login">返回登陆>>>
  </a>
  </p>
</div>  
</body>
</html>