<script>
$('#btnSearch').hover(function(){
    $('#hint').show();
}, function(){
	$('#hint').css('display','none');
})
</script>
<div class="dataTitle" style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/bz1.png" width="40px" height="40px" style="border-radius:20px;">
        <span style="margin-left:20px; font-weight:600; font-size:1.3em;">人员管理</span>
    </div>
    <div class="col-lg-6" style="width:200px;float:right;margin-top:12px;">
        <div class="input-group"  style="float:right;">
            <input type="text" id="select_data" class="form-control" style="width: 120px;">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="btnPeoSelectClick()" type="button" id="btnSearch">查询</button>
            </span>
        </div>
    </div>
</div>
<div class="col-lg-6" style="width:200px;float:right;margin-top:-83px;border:1px solid #bcbcbc;border-radius:2px;line-height:30px;height:30px;display:none;background-color:white" id="hint">
	您可以按责任人或工号查询
</div>
<div class="data" style="min-height: 300px; margin-top: 20px;">
    <div id="main_top">
        <span id="" class="span" onclick="increase_user()">添加用户</span>
        <span id="" class="span" onclick="delete_user()">删除用户</span>
        <!--<span id="" class="span" onclick="input_user()" style="color:#53b232">提交</span>-->
		<button style="background:#0c7cb7;color:#fff;border:1px solid #c2c2c2;height:31px;border-radius:3px;width:50px" onclick="input_user()">提交</button>
         总计：<label id="userCount"></label>
        <a href="javascript:;" class="uploadfile btn btn-default" style="" id="choose">选择Excel文件
           <input type="file"   name="choosefile" id="choosefile" />
        </a>
        <input type="button" class="uploadfile btn btn-default" value="导入" id="submitBtn" onclick="import_excel()" />
        <a target="_blank" href="/index/download_excel_file?file_name=人员导入表.xlsx" >下载模板</a>
        <div class="btn-group" data-toggle="buttons" style="float:right;">
            <label class="btn btn-primary" id="beforeTop" onclick="userBefore()">
                <input type="radio" name="options">
                <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
            </label>
            <label class="btn btn-primary" id="afterTop" onclick="userAfter()">
                <input type="radio" name="options">
                <img src="../static/images/leftPoint.png">
            </label></div>
        <span class="spanSelect" onclick="usermanagespanSelectClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;">
            <span id="page">1</span>/<span id="pageCount">1</span>
            <img src="../static/images/downPoing.png">
        </span>
    </div>
    <table class="table table-hover" style="width: 100%;">
        <thead><tr><th style="width: 15%;"><input type="checkBox" style="margin-right:10px;" id="selectAll" onclick="selectAll()">人员编号</th> <th style="width: 13%;">责任人</th><th style="width: 17%;">用户权限</th><th style="width: 18%;">mac地址</th><th style="width: 15%;">ip地址</th><th style="width: 22%;">操作</th></tr></thead>
        <tbody id="userInf">

        </tbody>
    </table>
</div>
<div id="main_bottom" style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
    <span id="" class="span" onclick="increase_user()">添加用户</span>
    <span id="" class="span" onclick="delete_user()">删除用户</span>
    <span id="" class="span" onclick="input_user()" style="background:#0c7cb7;color:#fff;border:1px solid #c2c2c2;height:31px;border-radius:3px;width:50px">提交</span>
    <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="before" onclick="userBefore()">
            <input type="radio" name="options">
            <img src="/static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
        </label>
        <label class="btn btn-primary" id="next" onclick="userAfter()">
            <input type="radio" name="options">
            <img src="/static/images/leftPoint.png">
        </label>
    </div>
	<span class="spanSelect" onclick="usermanagespanSelectClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;">
            <span id="pageBelow">1</span>/<span id="pageCountBelow">1</span>
            <img src="../static/images/downPoing.png">
        </span>
</div>