<div class="dataTitle">
<div style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
        <span style="margin-left:20px; font-weight:600; font-size:1.3em;" id="title">报警统计</span>
    </div>
	<label id="areaLabel"></label>
</div>
<div class="buttonTop" style="margin-top:10px;margin-bottom:10px;">
     &nbsp;&nbsp;总计：<label id="countCount"></label>
	 <select id="selectStatus" onchange="selectStatus()" style="min-height: 25px;">
			<option>涉密</option>
			<option>未处理</option>
	</select>
    <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="before" onclick="getErrorBefore()">
            <input type="radio" name="options"/>
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);" />
        </label>
        <label class="btn btn-primary" id="after" onclick="getErrorAfter()">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" />
        </label>
    </div>
   <span class="spanSelect" onclick="errorSpanClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;">
        <span id="page">1</span>/<span id="pageCount"></span>
        <img src="../static/images/downPoing.png">
   </span>
    </div>
    <div style="min-height: 300px;">
    <table class="table table-hover" style="table-layout:fixed" id="platformExplainBody1">
        <thead>
			<th width="14%">二级部门</th>
            <th width="14%">三级部门</th>
            <th width="13%">责任人</th>
            <th width="23%">mac地址</th>
            <th width="22%">ip地址</th>
            <th width="14%">报警次数</th>
        </thead>
        <tbody id="geterrData"></tbody>
    </table>
	<table class="table" style="table-layout:fixed;display:none" id="platformExplainBody2">
        <thead>
            <th width="27%">一级部门</th>
            <th width="27%">二级部门</th>
            <th width="27%">报警次数</th>
			<th width="19%">操作</th>
        </thead>
        <tbody id="geterrData"></tbody>
    </table>
	<input id="returnBtn" type="button" onclick="userErrorCount()" style="font-size: 1.1em;display:none" value="返回统计页面" class="btn btn-link btn-bg pull-right" />
</div>
<div id="main_bottom" style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
</div>
<!--<div class="buttonbottom" style="margin-bottom: 20px; padding-bottom: 60px;">
    <div class="btn-group" data-toggle="buttons" style="float:right;" onclick="queryBefore()">
        <label class="btn btn-primary" id="beforeBottom">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180);-o-transform:rotate(180);">
        </label>
        <label class="btn btn-primary" id="afterBottom" onclick="queryAfter()">
            <input type="radio" name="options" >
            <img src="../static/images/leftPoint.png">
        </label>
    </div>-->
</div>