<div style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
        <span style="margin-left:20px; font-weight:600; font-size:1.3em;">报警动态</span>
    </div>
	<div style="display:inline-block;">
	<label id="firstSelectTag" style="display:none">0</label>
	日期：<input type="text" name="datepicker" id="startTime" value="2017-1-1" style="width:100px"/>
	 - <input type="text" name="datepicker" id="endTime" value="2017-1-1" style="width:100px"/>
	 <button class="btn btn-info" onclick="timespansearch()" type="button" style="height:28px;line-height:16px;" value="0" id="timeSearch">查询</button>
	</div>
	<script type="text/javascript">
$(function (){
	$("#startTime").on("click",function(e){
		e.stopPropagation();
		$(this).lqdatetimepicker({
			css : 'datetime-day',
			dateType : 'D',
			selectback : function(){			
			if($("#firstSelectTag").text() == "0") {
				$("#firstSelectTag").text("1");
				$("#endTime").val(getNextDay($("#startTime").val()));
			 }			
		  }
		});		
	});
	
	$("#endTime").on("click",function(e){
		e.stopPropagation();
		$(this).lqdatetimepicker({
			css : 'datetime-day',
			dateType : 'D',
			selectback : function(){			
			if($("#firstSelectTag").text() == "0") {
				$("#firstSelectTag").text("1");
				$("#startTime").val(getBeforeDay($("#endTime").val()));
			}			
			}
		});

	});
});

function GetDateStr(AddDayCount) { 
var dd = new Date(); 
dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期 
var y = dd.getFullYear(); 
var m = (dd.getMonth()+1);//获取当前月份的日期 
var d = dd.getDate(); 
return y+"-"+m+"-"+d; 
} 
document.getElementById("startTime").value = GetDateStr(0);
document.getElementById("endTime").value = GetDateStr(1);
$('#personSearch').hover(function(){
    $('#hint').show();
}, function(){
	$('#hint').css('display','none');
})

function getNextDay(d){
        d = new Date(d);
        d = +d + 1000*60*60*24;
        d = new Date(d);
        //return d;
        //格式化
        return d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();        
    }
	
function getBeforeDay(d){
        d = new Date(d);
        d = +d - 1000*60*60*24;
        d = new Date(d);
        //return d;
        //格式化
        return d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();         
    }

</script>
	
    <div class="col-lg-6" style="width:155px;float:right;margin-top:12px;">
        <div class="input-group" style="float:right;">
            <input id="select_data" type="text" class="form-control" style="width: 120px;">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="btnSelectClick()" type="button" value="0" id="personSearch">查询</button>
            </span>
        </div>
    </div>
</div>
<div class="col-lg-6" style="width:200px;float:right;margin-top:-83px;border:1px solid #bcbcbc;border-radius:2px;line-height:30px;height:30px;display:none;background-color:white" id="hint">
	您可以按责任人或工号查询
</div>
<div class="data" style="min-height: 300px; margin-top: 20px;">
    <div style="margin: 10px 10px;">
        <span id="" class="span" onclick="targetSecret()">标为涉密</span>
        <span class="span" onclick="targetNotSecret()">标为非涉密</span>
        <span id="delRecord" class="span" onclick="delRecord()">删除记录</span>
		关键字级别&nbsp;<select id="selectLevel" onchange="get_user_error_data()" style="min-height: 25px;">
			<option>所有</option>
			<option>严重</option>
			<option>重要</option>
			<option>一般</option>
		</select>
        <div class="btn-group" data-toggle="buttons" style="float:right;">
            <label class="btn btn-primary" onclick="before_page()" id="before"><input type="radio" name="options"/>
                <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
            </label>
            <label class="btn btn-primary" onclick="after_page()" id="after">
                <input type="radio" name="options" /> <img src="../static/images/leftPoint.png" />
            </label>
        </div>
        <span id="spanSelect" onclick="userErrspanClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;"><span id="page">1</span>/<span id="pageCount">1</span><img src="../static/images/downPoing.png"></span>
        <span class="span" style="float: left; padding-top: 0; padding-bottom: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <a class="dropdown-toggle" data-toggle="dropdown">
                     <span id="errorStatus">未处理文件</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li onclick="changeErrorStatus(this)" style="list-style-type: none;"><a>涉密文件</a></li>
                    <li onclick="changeErrorStatus(this)" style="list-style-type: none;"><a>非涉密文件</a></li>
                </ul>
            </li>
        </span>
    </div>
    <table class="table table-hover" style="width: 100%;table-layout:fixed">
        <thead><tr><th width="10%"><input type="checkBox" style="margin-right:10px;" id="selectAll" onclick="selectAll()">二级部门</th><th width="8%">三级部门</th><th width="8%">责任人</th><th width="10%">报警文件名</th><th width="12%">mac地址</th><th width="12%">ip地址</th><th width="10%">报警时间</th><th width="8%">详细信息</th><th width="5%">下载</th><th width="15%">操作&ensp;&ensp;&ensp;总计：<span id="errorCount">0</span></th></tr></thead>
        <tbody id="errDate"></tbody>
    </table>
</div>
<div style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
    <span id="" class="span" onclick="targetSecret()">标为涉密</span>
    <span class="span" onclick="targetNotSecret()">标为非涉密</span>
    <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="before" onclick="before_page()"><input type="radio" name="options"/>
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
        </label>
        <label class="btn btn-primary" id="after" onclick="after_page()">
            <input type="radio" name="options" /> <img src="../static/images/leftPoint.png" />
        </label>
    </div>
<span id="spanSelect" onclick="userErrspanClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;"><span id="pageBelow">1</span>/<span id="pageCountBelow">1</span><img src="../static/images/downPoing.png"></span>
</div>