<div class="dataTitle">
<div style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
        <span style="margin-left:20px; font-weight:600; font-size:1.3em;">报警记录</span>
    </div>
    </div> 
	<br>
	<div style="float:left;">
		<label id="selectTimeLabel" style="display:none">0</label>
		总计：<label id="countErr">0</label>
	</div>
	&nbsp;&nbsp;&nbsp;<span class="span" onclick="delTimeSpanMulRecord()">删除记录</span>
     <div class="btn-group" data-toggle="buttons" style="float:right;">
            <label class="btn btn-primary" id="beforeTop" onclick="queryCountBefore()">
                <input type="radio" name="options">
                <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
            </label>
            <label class="btn btn-primary" id="afterTop" onclick="queryCountAfter()">
                <input type="radio" name="options">
                <img src="../static/images/leftPoint.png">
            </label></div>
        <span class="spanSelect" onclick="queryspanCountSelectClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;">
            <span id="page">1</span>/<span id="pageCount">1</span>
            <img src="../static/images/downPoing.png">
        </span>
    <div style="min-height: 300px;">
    <table class="table table-hover">
        <thead>
            <th width="20%"><input type="checkBox" style="margin-right:10px;" id="selectAll" onclick="selectAll()">序号</th>
            <th width="40%">查询时间</th>
			<th width="20%">记录条数</th>
            <th width="20%">记录操作</th></thead>
        <tbody id="userQuery"></tbody>
    </table>
</div>
<div id="main_bottom" style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
</div>
<!--<div class="buttonbottom" style="margin-bottom: 20px; padding-bottom: 60px;">
    <div class="btn-group" data-toggle="buttons" style="float:right;" onclick="queryBefore()">
        <label class="btn btn-primary" id="beforeBottom">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180);-o-transform:rotate(180);">
        </label>
        <label class="btn btn-primary" id="afterBottom" onclick="queryAfter()">
            <input type="radio" name="options" >
            <img src="../static/images/leftPoint.png">
        </label>
    </div>-->
</div>
