<div style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
        <span style="margin-left:20px; font-weight:600; font-size:1.3em;" id="title">远程管理</span>
    </div>
</div>
<div class="buttonTop" style="margin-bottom:10px; margin-top: 20px;">
    <!--<span class="span" onclick="mul_clost_net()">断开用户网络</span>-->
    <span class="span" onclick="mul_scan_file()">扫描用户文件</span>
    <span class="span" onclick="get_scan_file()">查看扫描记录</span>
    <span class="span" onclick="frash()">刷新</span>
	<button style="background:#62e588;color:#fff;border:1px solid #c2c2c2;height:31px;border-radius:3px;" onclick="setOnline()" id="online" value="1">显示在线用户</button>&nbsp;&nbsp;
	<button style="background:#9c9c9c;color:#fff;border:1px solid #c2c2c2;height:31px;border-radius:3px;" onclick="setOffline()" id="offline" value="0">显示离线用户</button>
    总计：<label id="connCount"></label>
	<!--<button onclick="setOnline()" style="background-color:#38f4a0;border-radius:10px;border:0px;color:#fff" id="online" value="1">显示在线用户</button>
	<button onclick="setOffline()" style="background-color:#9c9c9c;border-radius:10px;border:0px;color:#fff" id="offline" value="0">显示离线用户</button>-->
    <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="before" onclick="connBefore()">
            <input type="radio" name="options"/>
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);" />
        </label>
        <label class="btn btn-primary" id="after" onclick="connAfter()">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" />
        </label>
    </div>
    <span class="spanSelect" style="float:right; padding:0 10px; cursor:pointer;" onclick="connSpanClick(this)">
        <span id="page">1</span>/<span id="pageCount">1</span>
        <img src="../static/images/downPoing.png">
    </span>
</div>
<div style="min-height: 300px;">
    <table class="table table-hover" style="table-layout:fixed">
        <thead><tr><th width="15%"><input type="checkBox" style="margin-right:10px;" id="selectAll" onclick="selectAll()">人员编号</th><th width="15%">责任人</th><th width="15%">ip地址</th><th width="17%">mac地址</th><th width="12%">连接状态</th><!--<th width="14%">用户扫描</th><th width="12%">客户端卸载</th>--><th width="26%">操作</th></thead>
        <tbody id="userConn"></tbody>
    </table>
</div>
<div class="buttonbottom" style="margin-bottom: 20px; padding-bottom: 60px;">
    <span class="span">断开用户网络</span>
    <span class="span">扫描用户文件</span>
    <span class="span" onclick="get_scan_file()">查看扫描记录</span>
    <span class="span" onclick="frash()">刷新</span>
    <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="beforeBottom" onclick="connBefore()">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);">
        </label>
        <label class="btn btn-primary" id="afterBottom" onclick="connAfter()">
            <input type="radio" name="options" >
            <img src="../static/images/leftPoint.png">
        </label>
    </div>
	<span id="spanSelect" style="float:right; padding:0 10px; cursor:pointer;" onclick="connSpanClick(this)">
        <span id="pageBelow">1</span>/<span id="pageCountBelow">1</span>
        <img src="../static/images/downPoing.png">
    </span>
</div>

