<div class="dataTitle">
<div style="border-bottom:1px solid #CCC;">
    <div style="width:150px; height:44px; margin:10px; display:inline-block;">
        <img src="../static/images/err.png" width="40px" height="40px" style="border-radius:20px;" />
        <span style="margin-left:20px; font-weight:600; font-size:1.3em;" id="title">报警记录</span>
    </div>
</div>
<div class="buttonTop" style="margin-top:10px;margin-bottom:10px;">
    &nbsp;&nbsp;总计：<label id="scanCount"></label>
    <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary" id="before" onclick="queryBefore()">
            <input type="radio" name="options"/>
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);" />
        </label>
        <label class="btn btn-primary" id="after" onclick="queryAfter()">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" />
        </label>
    </div>
   <span class="spanSelect" onclick="userspanSelectClick(this)" style="float: right; padding: 5px 10px; cursor: pointer;">
        <span id="page">1</span>/<span id="pageCount">1</span>
        <img src="../static/images/downPoing.png">
   </span>
    </div>
    <div style="min-height: 300px;">
	<label style="display:none" id="scanUserAcc"></label><label style="display:none" id="scanTime"></label>
	<table class="table table-hover" style="table-layout:fixed" id="table1">
        <thead>
            <th width="12%">二级部门</th>
            <th width="16%">三级部门</th>
            <th width="17%">人员编号</th>
            <th width="17%">责任人</th>
            <th width="22%">扫描时间</th>
			<th width="16%">报警次数</th>
			<th width="22%">操作</th>
        </thead>
        <tbody id="userQuery"></tbody>
    </table>
    <table class="table table-hover" style="table-layout:fixed;display:none" id="table2">
        <thead>
            <th width="8%">二级部门</th>
            <th width="8%">三级部门</th>
            <th width="8%">人员编号</th>
            <th width="7%">责任人</th>
            <th width="9%">报警文件名</th>
            <th width="9%">文件路径</th>
            <th width="9%">关键字</th>
            <th width="10%">关键字前后文</th>
            <th width="12%">扫描时间</th>
        </thead>
        <tbody id="userQuery"></tbody>
    </table>
    <input type="button" onclick="connClick()" value="返回" class="btn btn-primary btn-sm pull-right" />
</div>
<div id="main_bottom" style="margin-bottom: 20px; padding-bottom: 60px;padding-top: 10px;">
</div>
<!--<div class="buttonbottom" style="margin-bottom: 20px; padding-bottom: 60px;">
    <div class="btn-group" data-toggle="buttons" style="float:right;" onclick="queryBefore()">
        <label class="btn btn-primary" id="beforeBottom">
            <input type="radio" name="options" />
            <img src="../static/images/leftPoint.png" class="img_right" style="transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180);-o-transform:rotate(180);">
        </label>
        <label class="btn btn-primary" id="afterBottom" onclick="queryAfter()">
            <input type="radio" name="options" >
            <img src="../static/images/leftPoint.png">
        </label>
    </div>-->
</div>